body {
    background-color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Headings */

.header--main {
    font-weight: normal;
    font-size: 60px;
    color: #000000;
}

/* Paragraphs */
.para_box {
    font-weight: 300;
    font-size: 40px;
    color: #000000;
    padding: 30px 30px;
    border: 1px solid #008CBA;
    margin: 120px;
}

/* buttons */

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }